* {
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
  width: 23%;
  margin-top: 100px;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 80%;
  height: 80%;
}

#dialogue-text-1,
#dialogue-text-2 {
  padding-top: 0%;
}

.box {
  width: 200px;
  margin: 50px auto;
  border-radius: 15px;
  background: #ff7c11;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}

.bubble1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #ff7c11;
  border-top: 15px solid #ff7c11;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.bubble2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #ff7c11;
  border-right: 15px solid transparent;
  border-top: 15px solid #ff7c11;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

#character1 {
  transform: translateX(-100%);
  animation: move-in 0.5s ease-in;
  width: 300px;
  height: 300px;
}

#character2 {
  animation: move-in 0.5s ease-in;
  width: 400px;
}

#dialogue-text {
  animation: move-in 0.5s ease-in;
}

@keyframes move-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}